@page
@using Svendeprøve_projekt_BodyFitBlazor.Shared
@model Svendeprøve_projekt_BodyFitBlazor.Areas.Identity.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Log in";
}


<div class="row" style="margin: 50px">
    <div class="col-md-4">
        <h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <h2>Brug til lokale konto til at logge ind i Body Fit!</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 10px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                </div>
            </form>
        </section>
        <h4>Gå tilbage til forsiden -> <a href="~/">Home</a></h4>
        <h4>Har du ingen konto? <a href="/Identity/Account/Register">Opret dig her!</a> </h4>
    </div>

</div>
