@page
@model Svendeprøve_projekt_BodyFitBlazor.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row" style="margin: 50px">
    <div class="col-md-4">
<h1>@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <h2>Opret en lokal konto for at kunne logge ind i Body Fit!</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin:10px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 10px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
@*                <div class="form-floating" style="margin: 10px">
                    <input asp-for="Input.Role" class="form-control" autocomplete="role" aria-required="true" />
                    <label asp-for="Input.Role" class="form-label"></label>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>*@
                <div style="margin:10px">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </div>
            </form>
        </section>
        <h4>Klik tilbage til forsiden -> <a href="~/">Home</a></h4>
        <h4>Har du allerede en konto? <a href="/Identity/Account/Login">Login!</a> </h4>

    </div>

</div>
