@page "/"
<PageTitle>Index</PageTitle>

<p>@text</p>
<AuthorizeView Roles="Administrator">
    <Authorized>
        <p>Hello @context.User.Identity.Name</p>
    </Authorized>

    <NotAuthorized>
        <p>You are not authorized to view this content!</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string text { get; set; }
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var AuthState = await AuthenticationStateTask;
        var user = AuthState.User;
        if (user.Identity.IsAuthenticated)
        {
            
        }
    }
}